.banner-about {
    #banner-img {
        background-image: url(../images/ab.jpeg);
        background-size: cover;
    }
}

.our-team {
    .our-team-line {
        width:10%; 
        border-top-color: $main-color;
    }

    .card-text {
        font-size: 14px;
        margin: 14px 0;
        font-weight: 600;
        color: $card-text-color;
      }
}

.social-about {
    margin-left: 18%;
    margin-top: 25px;
}
@media (max-width:576px) {
    .carousel-top{
        margin-top: 10px;
    }
}